:root {
  /* Colors */
  --clr--bright-orange: hsl(31, 77%, 52%);
  --clr--white: rgb(255, 255, 255);
  --clr--white-hover: rgb(207, 203, 203);
  --clr--black: hsla(0, 0%, 20%);
  --clr--black-hover: rgb(75, 73, 73);
  /* Font Family */
  --ff--primary: "Montserrat", sans-serif;

  /* Font Weight */
  --fw--regular: 300;
  --fw--bold: 500;
  --fw--very-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  margin: 0;
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  background: url("assets/bg-main-mobile.png") no-repeat;
  background-position: top -250% left;
  min-height: 100vh;
  font-family: var(--ff--primary);
  color: var(--clr--black);
  font-weight: var(--fw--regular);
  font-size: 18px;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  overflow: visible;
  gap: 3rem;
}

.content__header {
  margin: 3rem 1.5rem;
}

.header__logo {
  margin-bottom: 2.5rem;
}

.header__info h1 {
  font-weight: var(--fw--very-bold);
  font-size: 36px;
  margin-bottom: 1rem;
}

.header__info p {
  font-weight: var(--fw--bold);
  line-height: 1.5rem;
}

.content__main {
  background: url("assets/bg-pattern-2.svg") top center no-repeat
    var(--clr--black);
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  margin-bottom: 7rem;
  border-radius: 1rem;
}

.main__app {
  width: 250px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.main__information {
  display: flex;
  flex-direction: column;
  background-color: var(--clr--bright-orange);
  border-radius: 1rem;
  padding: 3rem 2rem;
  gap: 1rem;
  color: var(--clr--white);
  margin-bottom: 3rem;
  height: 500px;
  max-width: 400px;
}

.main__information p:nth-of-type(1) {
  line-height: 1.5rem;
}

.main__information_price {
  display: flex;
  flex-direction: row;
}

.main__information_price h3 {
  font-weight: var(--fw--very-bold);
  font-size: 36px;
}

.main__information_price p {
  align-self: center;
  font-size: 16px;
  margin-left: 10px;
}

.btn_ios,
.btn_android {
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.btn_ios {
  background-color: var(--clr--black);
  color: var(--clr--white);
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--fw--very-bold);
}

.btn_ios:hover {
  background-color: var(--clr--black-hover);
}

.btn_android {
  background-color: var(--clr--white);
  color: var(--clr--black);
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--fw--very-bold);
}

.btn_android:hover {
  background-color: var(--clr--white-hover);
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer {
  margin-inline: 1.5rem;
  line-height: 1.5rem;
}

.footer p:nth-of-type(2) {
  font-weight: var(--fw--very-bold);
}

.footer__social_logo {
  display: flex;
  gap: 1rem;
  margin: 3rem 0;
}

/* Tablets */

@media only screen and (min-width: 768px) {
  body {
    background: url("assets/bg-pattern-1.svg") top -10% right -5%/ 270px 400px no-repeat,
      url("assets/bg-main-tablet.png") no-repeat top 110% right 10%,
      url("assets/bg-main-tablet.png") no-repeat top 110% left 100%;
  }

  .content {
    gap: 5rem;
  }

  .header__logo {
    margin-bottom: 5rem;
  }

  .header__info h1 {
    font-size: 56px;
    margin-bottom: 2rem;
  }
  .content__header {
    margin-right: 13rem;
  }

  .content__main {
    background: url("assets/bg-pattern-2.svg") top -10px center / 300px 400px no-repeat
      var(--clr--black);
    margin-inline: 1.5rem;
    height: 600px;
  }

  .main__app {
    margin-top: 70px;
    margin-left: -300px;
    width: 300px;
  }

  .main__information {
    height: 600px;
    margin-top: -320px;
    margin-right: -200px;
  }
  .main__information h3 {
    font-size: 56px;
  }

  .footer {
    margin-bottom: 3rem;
  }

  .footer__contacts {
    display: flex;
    justify-content: space-between;
  }

  .footer__contacts__info {
    width: 50%;
  }

  .footer__social_logo {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}

/* Desktops */
@media only screen and (min-width: 1200px) {
  body {
    background: url("assets/bg-pattern-1.svg") top right no-repeat,
      url("assets/bg-main-desktop.png") top 20% center no-repeat;
  }

  .content {
    margin-inline: 8rem;
    display: flex;
    align-items: center;
    gap: 8rem;
  }

  .content__header {
    align-self: center;
    margin-bottom: 5rem;
  }

  .header__info h1 {
    font-size: 70px;
  }

  .content__main {
    background: url("assets/bg-pattern-2.svg") top -10% left 50% no-repeat var(--clr--black);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main__app {
    width: 350px;
    margin: 0;
    margin-top: -20%;
    margin-left: 25%;
  }

  .main__app img {
    height: 650px;
    width: 300px;
  }

  .main__information {
    margin: 0;
    margin-right: 20%;
    margin-bottom: -15%;
    width: 600px;
    height: 500px;
  }

  .footer {
    width: 100%;
  }
}
